#include "..\module_core\Version.h"


VS_VERSION_INFO VERSIONINFO
FILEVERSION     THINBASIC_STRINGBUILDER_VERSIONMAJOR, THINBASIC_STRINGBUILDER_VERSIONMINOR, THINBASIC_STRINGBUILDER_VERSIONBUILD, THINBASIC_STRINGBUILDER_VERSIONREVISION
PRODUCTVERSION  THINBASIC_STRINGBUILDER_VERSIONMAJOR, THINBASIC_STRINGBUILDER_VERSIONMINOR, THINBASIC_STRINGBUILDER_VERSIONBUILD, THINBASIC_STRINGBUILDER_VERSIONREVISION
FILEOS          VOS_WINDOWS32
FILETYPE        VFT_DLL

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      THIN_COMMON_COMPANYNAME
      VALUE "FileDescription",  THINBASIC_STRINGBUILDER_FILEDESCRIPTION
      VALUE "FileVersion",      THINBASIC_STRINGBUILDER_VERSIONLITERAL
      VALUE "InternalName",     THINBASIC_STRINGBUILDER_INTERNALNAME
      VALUE "OriginalFilename", THINBASIC_STRINGBUILDER_ORIGINALFILENAME
      VALUE "LegalCopyright",   THIN_COMMON_LEGALCOPYRIGHT
      VALUE "ProductName",      THINBASIC_STRINGBUILDER_PRODUCTNAME
      VALUE "ProductVersion",   THINBASIC_STRINGBUILDER_VERSIONLITERAL
      VALUE "Comments",         THIN_COMMON_COMMENT
    END
  END
END
